@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-red: #ff1744;
  --primary-black: #0a0a0a;
  --secondary-red: #ff4569;
  --accent-pink: #ff80ab;
}

body {
  background-color: var(--primary-black);
  color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--primary-black);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-red);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-red);
}
